{{ pageAddAsset('stylesheet', zasset('@KaikmediaCompaniesModule:css/sponsors-block.css')) }}

<div class="companies-block-sponsors sponsors-type-{{ sponsorType }} col-xs-12">
    <div class="row">
        <div class="sponsors-heading col-xs-12 text-center">
            {{ __('Sponsors', 'kaikmediacompaniesmodule') }}
        </div>
    </div>
</div>