<div class="card card-sponsor">
  <a href="http://odszkodowaniewuk.com" class="card-link">
    <span class="card-img">
      <img src="/web/uploads/sponsors/odszkodowaniewuk.png" class="img-responsive">
    </span>
    <span class="card-body">
      <span class="h3 heading">Miałeś wypadek nie z Twojej winy?</span>
      <p class="card-line-info">Masz prawo do odszkodowania uzyskaj pomoc</p>
      <p class="card-line-contact">Zadzwoń 07838016779</p>
    </span>
    <span class="card-footer">odszkodowaniewuk.com</span>
  </a>
</div>

{#<div class="sponsor-card"
     >
    <div class="sponsor-card-image">
            <img href="">
    </div>
</div>#}